table {
    overflow: hidden;
    position: relative;
    border-spacing: 0;
}

tr:nth-child(2n+1) td:before
{
    content: "";
    background: #f0f0f0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}

th
{
    background: #a0a0a0;
}

td,
th
{
    height: 35px;
    position: relative;
    outline: 0;
    padding: 0;
    text-align: center;
}

td:hover::after
{
    content: '';
    height: 10000px;
    position: absolute;
    top: -5000px;
    width: 100%;
    left: 0;
    z-index: -1;
    background-color: #d0d0d0;
}

tr:hover
{
    background-color: #d0d0d0;
}

img
{
    height: 35px;
}

#sendToTel input[type="submit"]
{
    display: none;
}

#sendToTel:valid input[type="submit"]
{
    display: inline;
}

.telForm
{
    text-align: left;
}

.colorTable tr:last-child
{
    background: none;
}

input[value='Москва'] ~ table tr:not(:only-child):not(.trForm):not([data-from='Москва'])
{
    display: none;
}

input[value='Симферополь'] ~ table tr:not(:only-child):not(.trForm):not([data-from='Симферополь'])
{
    display: none;
}

input[value='Касабланка'] ~ table tr:not(:only-child):not(.trForm):not([data-from='Касабланка'])
{
    display: none;
}

input[value='Дюссельдорф'] ~ table tr:not(:only-child):not(.trForm):not([data-from='Дюссельдорф'])
{
    display: none;
}

input[value='Киев'] ~ table tr:not(:only-child):not(.trForm):not([data-from='Киев'])
{
    display: none;
}

input[value='Волгоград'] ~ table tr:not(:only-child):not(.trForm):not([data-from='Волгоград'])
{
    display: none;
}

#fromSearch[value='Таллин'] ~ table tr:not(:only-child):not(.trForm):not([data-from='Таллин'])
{
    display: none;
}

#departure:not(:checked) ~ table tr:not(:only-child):not(.trForm)[data-type='departure']
{
    display: none;
}

#arrival:not(:checked) ~ table tr:not(:only-child):not(.trForm)[data-type='arrival']
{
    display: none;
}

#dTerm:not(:checked) ~ table tr:not(:only-child):not(.trForm)[data-term='D']
{
    display: none;
}

#eTerm:not(:checked) ~ table tr:not(:only-child):not(.trForm)[data-term='E']
{
    display: none;
}

#fTerm:not(:checked) ~ table tr:not(:only-child):not(.trForm)[data-term='F']
{
    display: none;
}
